button {
    padding: 10px;
    background-color: #9cf;
    border: solid 1px #333;
    border-radius: 3px;
    cursor: pointer;
}

nav ul {
    margin: 3px 0 0 0;
    padding: 0;
}

li {
    width: 250px;
    display: block;
    background-color: #000;
    color: #fff;
}

a {
    color: #fff;
    display: block;
    border-bottom: solid 1px #fff;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 10px;
}

